/* Footer old */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  margin-right: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
}

.footer-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.container-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-social-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin: 0 0 16px 0;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
}
.footer-social-li {
  width: 40px;
  height: 40px;
}
.footer-social-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-a:hover,
.footer-social-a:focus {
  background-color: #31d0aa;
}

.footer-model-container {
  display: flex;
  flex-direction: column;
}
.footer-model-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-model-form {
  display: flex;
  gap: 24px;
}
.footer-model-label {
  gap: 24px;
  display: flex;
  align-items: center;
}
.footer-model-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-model-input::placeholder {
  color: #ffffff;
}
.footer-model-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-model-svg {
  margin-left: 16px;
  fill: #ffffff;
}

/* footer */

.footer {
  background: #2e2f42;
  padding: 60px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.logo-footer-text {
  color: #f4f4fd;
}

.footer-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 100%;
  margin: 0 auto 20px;
  text-align: center;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-social-p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-li {
  width: 40px;
  height: 40px;
}

.footer-social-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-a:hover,
.footer-social-a:focus {
  background-color: #31d0aa;
}

.footer-model-container {
  width: 100%;
}

.footer-model-p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-model-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-model-label {
  gap: 24px;
  display: flex;
  align-items: center;
}

.footer-model-input {
  width: 100%;
  max-width: 396px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 0 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  box-sizing: border-box;
}

.footer-model-input::placeholder {
  color: #ffffff;
}

.footer-model-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
}

.footer-model-svg {
  margin-left: 16px;
  fill: #ffffff;
}

/* Планшетная версия */
@media (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 15px;
    gap: 24px;
    justify-content: space-between;
  }

  .footer-logo {
    width: 264px;
    height: 112px;

    text-align: left;
  }

  .footer-description {
    margin-top: 0;
    margin-bottom: 24px;
    text-align: left;
  }

  .footer-social-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 24px;
  }

  .footer-social-p {
    margin-bottom: 0;
    text-align: left;
  }

  .footer-social-ul {
    margin-top: 8px;
  }

  .footer-model-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 24px;
  }

  .footer-model-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-model-input {
    width: 264px;
  }

  .footer-model-button {
    margin-top: 0;
    width: 165px;
    height: 40px;
  }
}
@media (min-width: 1158px) {
  .footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-logo {
    margin-right: 120px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .container-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }

  .logo-footer-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #f4f4fd;
  }

  .footer-description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer-social-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin: 0 0 16px 0;
  }

  .footer-social-ul {
    display: flex;
    gap: 16px;
  }
  .footer-social-li {
    width: 40px;
    height: 40px;
  }
  .footer-social-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-a:hover,
  .footer-social-a:focus {
    background-color: #31d0aa;
  }

  .footer-model-container {
    display: flex;
    flex-direction: column;
  }
  .footer-model-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-model-form {
    display: flex;
    gap: 24px;
  }
  .footer-model-label {
    gap: 24px;
    display: flex;
    align-items: center;
  }
  .footer-model-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  .footer-model-input::placeholder {
    color: #ffffff;
  }
  .footer-model-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  .footer-model-svg {
    margin-left: 16px;
    fill: #ffffff;
  }
}
