body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  cursor: pointer;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 16px;
  }
}

/* header */

.wrapper {
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.div-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-nav {
  display: none;
}
.contact-info {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-text {
  color: #2e2f42;
}
.header-logo {
  padding: 16px 0;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-img {
  display: block;
  fill: #2f2f37;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .menu-nav {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0 auto;
  }
  .contact-info {
    font-style: normal;
    display: block;
  }
  .nav-header {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu-nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
  }

  .menu-nav-item-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav-item-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-nav-item:hover,
  .menu-nav-item:focus {
    color: #404bbf;
  }
  .contact-item-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-item {
    display: block;
    font-size: 12px;
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;

    letter-spacing: 0.04em;
    color: #434455;
  }

  .contact-item:hover,
  .contact-item:focus {
    color: #404bbf;
  }
}

@media (min-width: 1158px) {
  .burger-btn {
    display: none;
  }
  .menu-nav {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  .contact-info {
    font-style: normal;
    display: block;
  }
  .nav-header {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .contact-item-ul {
    list-style: none;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contact-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }

  .contact-item:hover,
  .contact-item:focus {
    color: #404bbf;
  }
}

/* mobile menu  */
.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: scroll;
  margin-bottom: 12px;
}
.mobil-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobil-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.modal-close {
  position: absolute;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus,
.modal-close:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close:focus,
.modal-close:hover {
  fill: #ffffff;
}
.model-svg {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* mobil-menu-nav */
.mobil-menu-navheader {
  margin-bottom: auto;
}
.mobil-menu-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
.mobil-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu-item:hover,
.mobil-menu-item:focus {
  color: #404bbf;
}
/* mobil-menu-info */
.mobil-menu-info {
  margin-bottom: 48px;
}
.mobil-menu-item-ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.mobil-menu-item-info {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobil-menu-item-info:hover,
.mobil-menu-item-info:focus {
  color: #404bbf;
}
/* social */
.social-network-ul {
  display: flex;
  gap: 24px;
}
.social-network-ul-li {
  width: 40px;
  height: 40px;
}
.social-network-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-a:hover,
.social-network-a:focus {
  background-color: #404bbf;
}

.social-network-svg {
  fill: #f4f4fd;
}
@media (min-width: 768px) {
  .mobil-menu {
    display: none;
  }
}
/* hero section */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  justify-content: center;
  background-image: url(../images/people-office.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-repeat: no-repeat;
  max-width: 320px;
  margin: 0 auto;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 72px;
}

/* Hero Button */
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 76px;
  margin-left: 75px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    justify-content: center;
    background-image: url(../images/people-office.jpg);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-repeat: no-repeat;
    max-width: 768px;
    margin: 0 auto;
  }

  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin-left: 136px;
    margin-right: 136px;
    margin-bottom: 36px;
  }

  /* Hero Button */
  .hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 300px;
    margin-right: 299px;
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
    color: #ffffff;
  }
}
@media (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    justify-content: center;
    background-image: url(../images/people-office.jpg);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-left: 316px;
    margin-right: 316px;
    max-width: 496px;
  }

  /* Hero Button */
  .hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 480px;
    margin-right: 480px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
    color: #ffffff;
  }
}
/* section-our-advantages */
.section-our-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 288px;
  margin: 0 auto;
}
.section-strategy-ul-li {
  width: 100%;
}
.section-strategy-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-strategy-ul-li-container {
  display: none;
}
.strategy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.strategy-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .section-our-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 736px;
    margin: 0 auto;
  }

  .section-strategy-ul-li {
    width: calc((100% - 30px) / 2);
    box-sizing: border-box;
  }

  .section-strategy-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .strategy {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
  }

  .strategy-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
@media (min-width: 1158px) {
  .section-our-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    max-width: 1158px;
  }
  .section-strategy-ul-li {
    width: calc((100% - 3 * 24px) / 4);
  }

  .section-strategy-ul {
    display: flex;
    gap: 24px;
  }
  .section-strategy-ul-li-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .strategy {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .strategy-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* our-team */
.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.our-team-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  padding: 0;
}
.team-item {
  background: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  box-sizing: border-box;
}
.team-img {
  width: 264px;
  height: 260px;
  display: block;
}
.our-team-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 16px 0;
  margin-bottom: 8px;
}

.team-role {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}
.social-network-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-network-ul-li {
  width: 40px;
  height: 40px;
}

.social-network-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-a:hover,
.social-network-a:focus {
  background-color: #404bbf;
}

.social-network-svg {
  fill: #f4f4fd;
}
@media (min-width: 768px) {
  .section-our-team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .our-team-hero {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
    padding: 0;
  }
  .team-item {
    background: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    box-sizing: border-box;
  }
  .team-img {
    width: 264px;
    height: 260px;
    display: block;
  }
  .our-team-div {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .team-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 16px 0;
    margin-bottom: 8px;
  }

  .team-role {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
  .social-network-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .social-network-ul-li {
    width: 40px;
    height: 40px;
  }

  .social-network-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-network-a:hover,
  .social-network-a:focus {
    background-color: #404bbf;
  }

  .social-network-svg {
    fill: #f4f4fd;
  }
}
@media (min-width: 1158px) {
  .section-our-team {
    background-color: #f4f4fd;
    padding: 120px 16px;

    margin: 0 auto;
    box-sizing: border-box;
  }

  .our-team-hero {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .team-list {
    list-style: none;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
  }

  .team-item {
    background: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24px) / 4);
  }

  .team-img {
    width: 264px;
    height: 260px;
  }

  .our-team-div {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .team-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 16px 0;
    margin-bottom: 8px;
  }

  .team-role {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }

  .social-network-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .social-network-ul-li {
    width: 40px;
    height: 40px;
  }

  .social-network-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-network-a:hover,
  .social-network-a:focus {
    background-color: #404bbf;
  }

  .social-network-svg {
    fill: #f4f4fd;
  }
}
/* Portfolio */
.section-our-portfolio {
  padding: 120px 16px;
}

.our-portfolio-hero {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
  cursor: pointer;
}
.portfolio-img-container {
  position: relative;
  overflow: hidden;
}
.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.app-description {
  display: none;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 8px;
}

.portfolio-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}
@media (min-width: 768px) {
  .section-our-portfolio {
    padding: 120px 16px;
  }

  .our-portfolio-hero {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    justify-content: center;
  }

  .portfolio-item {
    width: calc(50% - 12px);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
    cursor: pointer;
  }
  .portfolio-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .portfolio-img-container {
    position: relative;
    overflow: hidden;
  }

  .app-description {
    display: none;
  }

  .portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    box-sizing: border-box;
  }

  .portfolio-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 8px;
  }

  .portfolio-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #434455;
  }
}
@media (min-width: 1158px) {
  .section-our-portfolio {
    padding: 120px 0;
  }

  .our-portfolio-hero {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc(100% / 3 - 24px);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
  }

  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
    cursor: pointer;
  }
  .portfolio-img-container {
    position: relative;
    overflow: hidden;
  }

  .app-description {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-img-container:hover .app-description,
  .portfolio-img-container:focus .app-description {
    transform: translateY(0);
  }

  .portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 8px;
  }

  .portfolio-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #434455;
  }
}
/* Footer */

.footer {
  background: #2e2f42;
  padding: 60px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.logo-footer-text {
  color: #f4f4fd;
}

.footer-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 100%;
  margin: 0 auto 20px;
  text-align: center;
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-social-p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-social-li {
  width: 40px;
  height: 40px;
}
.footer-social-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-a:hover,
.footer-social-a:focus {
  background-color: #31d0aa;
}

.footer-model-container {
  width: 100%;
}
.footer-model-p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-model-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer-model-label {
  gap: 24px;
  display: flex;
  align-items: center;
}
.footer-model-input {
  width: 100%;
  max-width: 396px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 0 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  box-sizing: border-box;
}
.footer-model-input::placeholder {
  color: #ffffff;
}
.footer-model-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
}
.footer-model-svg {
  margin-left: 16px;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .footer {
    background: #2e2f42;
    padding: 60px 0;
  }
  .container-footer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15px;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    width: 264px;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    text-align: left;
  }

  .logo-footer-text {
    color: #f4f4fd;
  }

  .footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0;
  }

  .footer-social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 264px;
  }
  .footer-social-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin: 0 0 16px 0;
  }

  .footer-social-ul {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer-social-li {
    width: 40px;
    height: 40px;
  }
  .footer-social-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-a:hover,
  .footer-social-a:focus {
    background-color: #31d0aa;
  }

  .footer-model-container {
    display: flex;
    flex-direction: column;
  }
  .footer-model-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .footer-model-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .footer-model-label {
    display: flex;
    align-items: center;
  }
  .footer-model-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  .footer-model-input::placeholder {
    color: #ffffff;
  }
  .footer-model-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
  }
  .footer-model-svg {
    margin-left: 16px;
    fill: #ffffff;
  }
}
@media (min-width: 1158px) {
  .footer {
    background: #2e2f42;
    padding: 100px 0;
  }
  .footer-logo {
    margin-right: 120px;
    align-items: flex-start;
    width: auto;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }

  .logo-footer-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #f4f4fd;
  }

  .footer-description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
  }

  .footer-social-container {
    align-items: flex-start;
    width: auto;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }
  .footer-social-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    margin: 0 0 16px 0;
  }

  .footer-social-ul {
    display: flex;
    gap: 16px;
  }
  .footer-social-li {
    width: 40px;
    height: 40px;
  }
  .footer-social-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-a:hover,
  .footer-social-a:focus {
    background-color: #31d0aa;
  }

  .footer-model-container {
    width: auto;
    justify-content: space-between;
  }
  .footer-model-p {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
  }
  .footer-model-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: auto;
  }

  .footer-model-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  .footer-model-input::placeholder {
    color: #ffffff;
  }
  .footer-model-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  .footer-model-svg {
    margin-left: 16px;
    fill: #ffffff;
  }
  .footer-model-button {
    width: 165px;
    height: 40px;
    white-space: nowrap;
  }
}
/* modal-container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: scroll;
  margin-bottom: 12px;
  overflow-y: auto;
  z-index: 999;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus,
.modal-close:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close:focus,
.modal-close:hover {
  fill: #ffffff;
}
.model-svg {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color, #2e2f42);
  margin-bottom: 16px;
}
.form-container {
  margin-bottom: 8px;
}
.form-container-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-input-container {
  position: relative;
}

.user-name-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}
.user-name-input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
.user-name-input:focus + .user-name-svg {
  fill: #4d5ae5;
}
.user-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.user-name-svg:focus {
  fill: #4d5ae5;
}

.form-group {
  margin-bottom: 16px;
}
.textarea-field {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-field:focus {
  border-color: #4d5ae5;
}
.input-container-checkbox {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-checkbox:checked + .label-privacy .checkbox-icon {
  background-color: var(--checkbox-bg-color, #404bbf);
  border: none;
  fill: var(--checkbox-icon-color, #f4f4fd);
}
.svg-icon-checkbox {
  fill: #fcfcfc;
}
.privacy-link {
  color: #4d5ae5;
}
.submit-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin: 0 auto;
}

.modal-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
